@import url(include/variable.css);
@import url(include/global.css);
img {
    width: 75px;
}


/* div {
    border: 1px solid;
} */

.nav {
    position: fixed;
    background-color: var(--primary-color);
    width: 100%;
    top: 0;
    z-index: 1;
}

.nav .logo-container {
    padding-left: 100px;
    display: inline-block;
    /* margin-left: 20vw; */
}

.nav .login-form {
    position: relative;
    padding: 29px 139px 29px 0px;
    float: right;
    display: inline-block;
}

.login-form .input-section {
    display: inline;
    padding-right: 10px;
}

.login-form>.input-section>input {
    height: 25px;
    border: none;
}

.login-form>.input-section>button {
    height: 27px;
    border: none;
}

.login-form>.input-section>button:hover {
    cursor: pointer;
}

.login-form label {
    color: white;
}

.login-msg {
    position: absolute;
    bottom: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #E95C40;
}

main {
    margin-top: 85px;
    display: block;
    position: relative;
}

.song-list {
    margin: 0 200px 0 200px;
}

.song-list>.title {
    text-align: center;
    padding: 25px 0;
    margin: 0;
}

.song-list>.song-table {
    width: 100%;
    background-color: whitesmoke;
}

.song-list>.song-table>thead {
    height: 35px;
    background-color: var(--primary-color2);
    color: white;
    font-size: 1.2em;
}

.song-list>.song-table>tbody>tr {
    height: 35px;
}

.song-list>.song-table>tbody>tr>td {
    padding: 0 20px;
}

.song-list>.song-table>tbody>tr:hover {
    height: 35px;
    background-color: var(--text-color);
    color: white;
}

.add-action,
.remove-action,
.play-action {
    display: inline-block;
    margin: auto;
    height: 25px;
    width: 25px;
    /* border: solid; */
    border-radius: 50%;
    background-color: var(--primary-color);
    cursor: pointer;
}

.add-action::before {
    margin: 8px;
    vertical-align: -25%;
    content: "+"
}

.remove-action::before {
    margin: 9px;
    vertical-align: -16%;
    content: "-"
}

.play-action::before {
    margin: 7px;
    vertical-align: -20%;
    content: "▶"
}

#searchBar {
    display: none;
}

#loginMsg {
    display: none;
}

.require-auth {
    display: none;
}

.heading-container {
    margin: 25vh;
    padding: 10vh;
}

.heading-container>h2 {
    color: var(--primary-color);
    font-size: 2em;
    text-align: center;
}