@import url(fonts.css);
@import url(include/variable.css);
@import url(include/global.css);
img {
    width: 75px;
}


/* div {
    border: 1px solid;
} */

.nav {
    position: fixed;
    background-color: var(--primary-color);
    opacity: 0.95;
    width: 100%;
    top: 0;
    z-index: 1;
}

.nav-container {
    margin: auto;
    max-width: 700px;
}

.nav .logo-container {
    /* padding-left: 100px; */
    display: inline-block;
    /* margin-left: 20vw; */
}

.nav .login-form {
    position: relative;
    padding: 29px 0px 29px 0px;
    float: right;
    display: inline-block;
}

.login-form .input-section {
    display: inline;
    padding-right: 10px;
}

.login-form>.input-section>input {
    height: 25px;
    border: none;
}

.login-form>.input-section>button {
    height: 27px;
    border: none;
}

.login-form>.input-section>button:hover {
    cursor: pointer;
}

.login-form label {
    color: white;
}

.login-msg {
    position: absolute;
    bottom: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #E95C40;
}

main {
    margin-top: 85px;
    padding-bottom: 150px;
    display: block;
    position: relative;
}

.song-list {
    margin: auto;
    max-width: 700px;
}

.song-list>.title {
    text-align: center;
    padding: 25px 0;
    margin: 0;
}

.song-list>.song-table {
    width: 100%;
    background-color: whitesmoke;
    opacity: 0.9;
}

.song-list>.song-table>thead {
    height: 35px;
    background-color: var(--primary-color2);
    color: white;
    font-size: 1.2em;
}

.song-list>.song-table>tbody>tr {
    height: 35px;
}

.song-list>.song-table>tbody>tr>td {
    padding: 0 20px;
}

.song-list>.song-table>tbody>tr:hover {
    height: 35px;
    background-color: var(--text-color);
    color: white;
}

.add-action,
.remove-action,
.play-action {
    display: inline-block;
    margin: auto;
    height: 25px;
    width: 25px;
    /* border: solid; */
    border-radius: 50%;
    background-color: var(--primary-color);
    cursor: pointer;
}

.add-action {
    text-align: center;
}

.remove-action {
    float: left;
    margin-left: 20px;
}

.play-action {
    float: right;
    margin-right: 20px;
}

.add-action::before {
    margin: 8px;
    vertical-align: -14%;
    content: "+"
}

.remove-action::before {
    margin: 9px;
    vertical-align: -16%;
    content: "-"
}

.play-action::before {
    margin: 7px;
    vertical-align: -20%;
    content: "▶"
}

#searchBar {
    display: none;
}

#loginMsg {
    display: none;
}

.require-auth {
    display: none;
}

.heading-container {
    margin: 25vh;
    padding: 10vh;
}

.heading-container>h2 {
    color: wheat;
    font-size: 5em;
    text-align: center;
}

h2.title {
    color: white;
    font-size: 2.5em;
}

.music-player {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.music-player-container {
    opacity: 0.85;
    background-color: var(--primary-color2);
    margin: auto;
    max-width: 800px;
    height: 85px;
    border-radius: 100px 100px 0 0;
}

.music-player-container .controls {
    margin: 0 50px 0 50px;
    padding: 35px 0;
}

.progress-bar-section,
.timer {
    display: inline-block;
}

.controls>div.icon {
    display: inline-block;
    font-size: 1.5em;
    background-color: white;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50px;
    cursor: pointer;
    color: var(--primary-color2);
    vertical-align: middle;
}

.previous-btn::before {
    content: "«";
    margin: 12px;
}

.play-btn::before {
    content: "⏵";
    margin: 6px;
}

.pause-btn::before {
    content: "||";
    margin: 12px;
}

.next-btn::before {
    content: "»";
    margin: 12px;
}

.progress-bar-section {
    position: relative;
    margin: 0 10px;
}

.song-title {
    text-align: center;
    color: white;
    position: absolute;
    top: -25px;
    width: 100%;
}

.progress-bar {
    background: white;
    min-width: 200px;
    max-width: 400px;
    width: 100%;
    height: 10px;
    border-radius: 50px;
}

.timer {
    color: white;
}

.playlist-loop::before {
    content: "∞";
    margin: 6px;
}

.playlist-shuffle,
.playlist-loop,
.repeat-once {
    float: right;
}

.playlist-shuffle {
    transform: rotate(-45deg);
    position: relative;
}

.playlist-shuffle::before {
    content: "⟶";
    padding: 5px;
}

.playlist-shuffle-1 {
    transform: rotate(90deg);
    position: absolute;
    top: 0;
}

.playlist-shuffle-1::before {
    content: "⟶";
    padding: 5px;
}

.repeat-once::before {
    content: "①";
    margin: 6px;
    vertical-align: -10%;
}

.controls>div.playlist-shuffle,
.controls>div.repeat-once,
.controls>div.pause-btn {
    display: none;
}

.music-player {
    display: none;
}